.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.content{
    padding: 15px;
    float: left;
    margin-bottom: 53px;
    width: 100%;
}

.App {
    text-align: center;
}

.App-header {
    background-color: #222;
    height: 10rem;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

.thumbnail {
    margin: 16px;
    max-height: 480px;
    max-width: 320px;
    display: inline-block;
    background-image: url("https://i.annihil.us/u/prod/marvel/i/mg/b/40/image_not_available/portrait_incredible.jpg");
    background-size: cover;
    min-height: 240px;
    min-width: 160px;
}


.image-center {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}

.more-info{
    background: #222222;
    width: 100%;
    position: absolute;
    top: calc(50% - 20px);
    color: #ffffff;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    display: none;
}


.image-center:hover > .thumbnail{
    animation-name: Thumbnail;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;  
}
.image-center:hover > .more-info{
    display: block;
    opacity: 0;
    
    animation-name: MoreInfo;
    animation-delay: 0.2s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes Thumbnail {
    from {opacity: 1;}
    to   {opacity: 0.6;}
}
@keyframes MoreInfo {
    from {opacity: 0;}
    to   {opacity: 1;}
}

.is-loading {
        float: left;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}

.hidden { display:none; }

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.image-modal{
   width: 100%;
}

@media (max-width: 992px){
   .image-modal {
      margin: auto;
      width: 30%;
      margin-top: 10px;
    }
}