body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.App {
    text-align: center;
}

.App-header {
    background-color: #222;
    height: 10rem;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

.thumbnail {
    margin: 16px;
    max-height: 480px;
    max-width: 320px;
    display: inline-block;
    background-image: url("https://i.annihil.us/u/prod/marvel/i/mg/b/40/image_not_available/portrait_incredible.jpg");
    
    background-size: cover;
    min-height: 240px;
    min-width: 160px;
}

.image-center {
    margin-left: auto;
    margin-right: auto;
}


.footer {
  position: absolute;
  right: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
